<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <style>
      
    </style>
  </head>
<body ng-app='ShoppingListCheckOff'>
  <div class="container">
  <h1>Shopping List Check Off</h1>
  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as buyCtrl'>
      <h2>To Buy:</h2>
     <table ng-show="!buyCtrl.displayBuyMessage()">
      <tr>
        <th>Sl No.</th>
        <th>Buy</th>
        <th>Bought</th>
      </tr>
      <tr ng-repeat="item in buyCtrl.items">
        <td id="slno">{{$index+1}}</td>
        <td>Buy {{item.quantity}} {{item.name}} </td>
        <td id="bought_button">
          <button class="btn btn-default" ng-click="buyCtrl.bought($index)">
          <span class="glyphicon glyphicon-ok">
          </span>
          </button>
        </td>
      </tr>
    </table>
    <div class="emptyMessage" ng-show="buyCtrl.displayBuyMessage()">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as boughtCtrl">
      <h2>Already Bought:</h2>
      <table ng-show="!boughtCtrl.displayBuyMessage()">
        <tr>
          <th>Sl No.</th>
          <th>Bought</th>
        </tr>
        <tr ng-repeat="item in boughtCtrl.items">
          <td id="slno">{{$index+1}}</td>
          <td>Bought {{item.quantity}} {{item.name}} </td>
        </tr>
      </table>
      <div class="emptyMessage" ng-show="boughtCtrl.displayBuyMessage()">Nothing bought yet!</div>
    </div>
  </div>
</div>

</body>
</html>
