<!doctype html>
<html lang="en" >
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container"ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
      <div class="note">
        Note:Please enter the items as ex:a,b,c.<br>
        If enter as ex:a,,b,c Or ex a, ,b, ,c it will be considered as ex:a,b,c<br>
      </div>
         <div class="form-group" >
           <br>
             <input ng-model="inpString" id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             >
         </div>
         <div class="form-group">
             <button ng-click="sayMessage();" class="btn btn-default" >Check If Too Much</button>
         </div>
         <div class="form-group message" id="message">
           <!-- Your message can go here. -->
           {{message}}
         </div>
   </div>

</body>
</html>
