<br><br><br>
<div class="resultTable">
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Short Name</th>
            <th>Menu Item Name</th>
            <th>Description</th>
            <th>Don't want this one!</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in foundArray" scope="row">
            <td class="shortName">{{item.short_name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td class="removeButton"><button type="button" class="btn btn-primary" ng-click="onRemove({index:$index});">X</button></td>
        </tr>
    </tbody>
</table>
</div>
<div class="error" ng-show="!(itemsInList() || click())">Nothing found!</div>